* {
  box-sizing: border-box;
}

/* body */

html,
body {
  margin: 0;
}

body {
  background-image: url("https://i.postimg.cc/k5xKq2bC/national-park-img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: monospace, "Courier New", Courier;
}

#background-img {
  z-index: -1;
}

/* form */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label {
  margin: 5px;
}

#search-btn {
  background-color: #303030;
  color: white;
  border: black;
  padding: 5px;
}

/* results */

#results {
  margin: auto 5% auto 5%;
}

#title {
  text-align: center;
}

#results-title {
  text-align: center;
}

#results-title span {
  background-color: #505050;
  color: white;
  padding: 5px;
  border-style: solid;
  border-color: darkgreen;
  border-radius: 10px;
}

#results-list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

li {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #505050;
  color: white;
  width: 400px;
  padding: 0 10px 20px 10px;
  margin: 10px;
  border-style: solid;
  border-color: darkgreen;
  border-radius: 10px;
}

#park-link {
  text-decoration: none;
}

#park-link span {
  background-color: #00bfff;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

#park-link span:hover {
  background-color: blue;
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media (min-width: 400px) {
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
